/* Featured Movies */
.featured-movies {
    display: flex;
    margin: 20px 100px;
    padding:0px 30px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 250px;
    border-radius: 4px;
    overflow: hidden;
    margin:20px 25px;
    height:300px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: box-shadow 0.3s;
  }

  .card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .card img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 4px;
  }

  .movie-desc{
    padding: 0px 10px;
  }
  
  .heading{
    font-weight: bolder;
    margin-left: 140px;
  }
  
  .Bookbutton {
    background-color: rgb(227, 30, 30);
    color: white;
    border-radius: 5px;
    padding: 5px;
    width:100%;
    border: solid rgb(255, 0, 0);
    transition: background-color 1s,border-radius 1s;
  }
  
  .Bookbutton:hover {
    background-color: rgb(143, 9, 9);
    border-radius:30px;
    border: solid rgb(143, 9, 9);
  }
  